page-quest {

}

.quest-game-display {
  width: 100%;
}

.quest-stage {
  width: 100%;
  height: 185px;
  background-image: url('../assets/uncolored_castle.png');
  background-position: bottom;
  background-size: cover;
}

.quest-actions {
  padding-top: 301px !important;
}

.hero-attacked {
  animation: 0.2s infinite attacked ease-in-out;
}

.flying {
  animation: 0.5s infinite alternate fly ease-in-out;
}

.bat {
  transition: 0.5s transform ease-in-out;
}

.bat-attack {
  transform: translate(-100px, 0);
}

@keyframes attacked{
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes fly {
  0% {
    transform: translate(0, 0);
  }


  100% {
    transform: translate(0, 20px);
  }
}

.quest-row {
  display: flex;
}

.quest-stats {
  margin-top: -3px;
  padding: 10px 15px;
  background: #fff;
  border-bottom: 0.55px solid #c8c7cc;
}

.bar {
  width: 100%;
  height:20px;
  margin-bottom: 10px;
  position: relative;
}

.bar-label {
  width: 75px;
  padding-top: 3px;
}

.bar-health {
  background: rgba(216, 78, 99, 0.5);
}

.bar-health > .bar-inner{
  background: #d54d62;
}

.bar-shield > .bar-inner {
 background: #4E97D5;
}

.bar-shield {
  background: rgba(78, 151, 213, 0.5);
}

.bar-value {
  position: absolute;
  top: 0;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

.bar-inner {
  transition: 0.2s all ease-out;
  height: 100%;
}
