page-home {

}

.center {
  text-align: center;
}

.spendingGrid {
  height:50%;
  width: 100%;
}

.arc {
  &:hover {
    opacity: .85;
    transform: scale(1.03, 1.03)
  }

  text {
    font-weight: 300;
    font-size: 18px;
    color: #fff;
  }
}

.spendingGrid {
  text-align: center;
  margin-top: 5%;
}

.gridStyle {
  margin-top: 10%;
}

.biggerIcon {
  transform: scale(1.5, 1.5);
  padding-right: 5px;
  padding-top: 5px;
}

.amount {
 padding-top: 5px;
}
