<ion-header>
  <ion-navbar>
    <ion-title>
      Summary
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-toolbar ion-fixed style="padding: 10px 15px;">

    <div class="quest-row">
      <span class="bar-label">LEVEL</span>
      <div class="bar bar-shield" style="margin-bottom: 0;">

        <div class="mybar-label">({{prettyPrintCurrency(getSaved(), false)}} / {{prettyPrintCurrency(goal, false)}})</div>

        <div class="bar-inner" [style.width]="(getLevel() * 100) + '%'">

        </div>
      </div>
    </div>
  </ion-toolbar>

  <ion-list no-lines class="events-items">

    <ion-item *ngFor="let event of events" (click)="openModal(event)">
      <ion-avatar item-start>
        <img [src]="getIcon(event)">
        <ion-badge *ngIf="event.type === 'weekly' && event.saved == undefined">
          new
        </ion-badge>
      </ion-avatar>

      <span [class.weekly-summary]="event.type === 'weekly'">
        {{formatDate(event)}}

        <ion-badge *ngIf="event.type === 'weekly' && event.saved">
          {{prettyPrintCurrency(event.saved)}}
        </ion-badge>
      </span>

      <span item-end [class.negative-number]="isBalanceNegative(event)">
        {{getBalance(event)}}
      </span>

    </ion-item>

  </ion-list>
</ion-content>
