<ion-header>
  <ion-toolbar>
    <ion-title>
      {{date}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>

    <ion-card-header style="text-align: center">
      {{getTitle()}}
    </ion-card-header>

    <div class="report-image">
      <div class="hero-image" [class.hero-success]="spend <= budget"></div>
    </div>

    <ion-card-content style="text-align: center; font-size: 17px;">
      <div [innerHtml]="getMessage(event)">
      </div>


      <div *ngIf="type === 'weekly' && saved == undefined && (spend <= budget)" style="margin-top: 20px;">

        How much do you want to save?

        <button ion-button (click)="save(0)" color="light">Nothing</button>
        <button ion-button (click)="save(5)">5$</button>
        <button ion-button (click)="save(10)">10$</button>
        <button ion-button (click)="save(20)">20$</button>
      </div>

      <div *ngIf="type === 'weekly' && saved == undefined && (spend > budget)" style="margin-top: 20px;">
        <button ion-button (click)="save(0);dismiss()">OK</button>
      </div>



      <div *ngIf="type === 'weekly' && saved != undefined" style="margin-top: 20px;">

        <div *ngIf="saved === 0">You saved nothing this week</div>
        <div *ngIf="saved > 0">You saved <ion-badge>{{prettyPrintCurrency(saved)}}</ion-badge> this week</div>

      </div>




    </ion-card-content>


  </ion-card>

</ion-content>
